<template name="shoppingCartItem">
  <li class="media">
    <div class="media-left media-middle">
      <a href="shop-single-item.html">
        <img src="{{item.photoSmall}}" alt="">
      </a>
    </div>
    <div class="media-body media-middle">
      <h4>
        <a href="shop-single-item.html">{{item.name}}</a>
      </h4>
      <span class="quantity">{{quantity}} ×
        <span class="amount">{{item.price}} DHs</span>
      </span>
    </div>
    <div class="media-body media-middle">
      <a href="#" class="remove" title="Remove this item rrr">
        <i id="r{{ref}}" class="rt-icon2-trash highlight"></i>
      </a>
    </div>
  </li>
</template>
