<template name="detail">
  <div class="ls section_padding_top_20 section_padding_bottom_55">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5 text-sm-center">

					<!-- Shop img -->

					<div class="shop-flexslider">
						<ul class="slides">
              {{#each detail.photos}}
                {{#if @index = 0}}
    							<li data-thumb="{{this}}" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
    								<img src="{{this}}" alt="" draggable="false">
    							</li>
                {{else}}
    							<li data-thumb="{{this}}" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">
    								<img src="{{this}}" alt="" draggable="false">
    							</li>
                {{/if}}
							{{/each}}
						</ul>
          <ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li></ul></div>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7">
					<h3 class="shop-single__title">{{detail.name}}</h3>
					<div class="star-rating shop-single__rating" title="Rated 4.00 out of 5">
						<span style="width:80%">
							<strong class="rating">4.00</strong> out of 5
						</span>
					</div>
					<div class="shop-single__stock">
						<i class="fa fa-check-square-o" aria-hidden="true"></i>
						<span>In stock</span>
					</div>
					<span class="shop-item__price">
						<span>
							<span class="amount">{{detail.price}} Dhs</span>
						</span>
					</span>
					<p class="shop-single__text">{{detail.details}}</p>
					<div class="shop-single__controls">
						<form action="/" class="single-shop-item__gty">
							<span class="quantity form-group">
								<input type="button" value="-" class="minus">
								<input type="number" step="1" min="0" name="product_quantity" value="1" title="Qty" id="product_quantity" class="form-control ">
								<input type="button" value="+" class="plus">
							</span>
							<button type="button" class="button-g_t5">Add To Cart</button>
						</form>
					</div>
					<!-- <div class="shop-single__category">
						<span>Category:</span>
						<a href="#">Fruits</a>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</template>
