<template name="header">
  <!-- Head Start  -->
  <!-- Logo: contains logo in various header layouts -->
  <div class="ls page_toplogo section_padding_top_25 section_padding_bottom_10 table_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 text-left text-sm-center">
          <ul class="social-list">
            <!-- <li>
              <a href="#">
                <i class="soc__pinterest"></i>
              </a>
            </li> -->
            <li>
              <a href="#">
                <i class="soc__instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="soc__google"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="soc__twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="soc__facebook"></i>
              </a>
            </li>
            <!-- <li>
              <a href="#">
                <i class="soc__dribbble"></i>
              </a>
            </li> -->
          </ul>
        </div>
        <div class="col-lg-4 text-center">
          <div class="logo">
            <a href="./">
              <img src="/images/yuudi-logo.png" style="max-width: 200px;" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 text-right text-sm-center">
          <address class="contact-block text-right text-sm-center">
            <!-- <p class="contact-block__address">9 bd Koronfol, Casablanca</p> -->
            <p class="contact-block__phone">
              <span>0522</span> 01 02 03</p>
            <p class="contact-block__work-time">08 H - 19 H</p>
          </address>
        </div>
      </div>
    </div>
  </div>

  <!-- Header: contains site site Main Menu -->
  <div class="ls" style="margin-bottom: 20px;">
    <header class="page_header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12"></div>
          <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 text-sm-center">
            <span class="toggle_menu">
              <span></span>
            </span>
            <!-- Main navigation start -->
            <nav class="mainmenu_wrapper">
              <ul class="mainmenu nav sf-menu text-center">
                <!-- Accueil -->
                <li class="active">
                  <a href="/">Accueil</a>
                </li>
                <!-- Panier -->
                <li>
                  <a href="/panier">Panier</a>
                </li>
                <!-- A propos -->
                <li>
                  <a href="/yuudi">A propos</a>
                </li>
                <!-- Contact -->
                <li>
                  <a href="/contact">Contactez-nous</a>
                </li>
                {{#if currentUser}}
                {{else}}
                <!-- Connexion -->
                <li>
                  <a href="/connexion">Connexion</a>
                </li>
                {{/if}}
              </ul>
            </nav>
            <!-- eof main nav -->
          </div>
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 text-right text-sm-center">

            {{> shoppingCartBox }}

            <a href="#" class="search_modal_button serach-button" style="display:none">
              <i class="rt-icon2-search4"></i>
            </a>

            {{#if currentUser }}
              {{> atNavButton}}
            {{/if}}
          </div>
        </div>
      </div>
    </header>
  </div>
  <!-- Head End -->
</template>
