<template name="product">
  <li class="shop-item product type-product">
    <div class="side-item">
      <figure class="item-media shop-item__img">
        <a href="shop-single-item.html">
          <img src="{{photoSmall}}" alt="">
        </a>
        <div class="shop-item__lk-wrapp">
          <a href="/detail/{{_id}}?detail=produit" class="shop-item__lk">Info</a>
        </div>
      </figure>
      <div class="shop-item__content">
        <h3 class="shop-item__title">
          <a href="shop-single-item.html">{{name}}</a>
        </h3>
        <div class="shop-item__meta-list">
          <div class="star-rating" title="Rated 4.00 out of 5">
            <span style="width:80%">
              <strong class="rating">4.00</strong> out of 5
            </span>
          </div>
        </div>
        <div class="shop-item__block">
          <span class="shop-item__price">
            <span>
              <span class="amount">{{price}} DHs</span>
            </span>
          </span>
          <button type="button" class="button-g_t4">Ajouter au panier</button>
        </div>
      </div>
    </div>
  </li>
</template>
