<template name="products">
  <div class="col-lg-12 text-center">
		<h3 class="title_t-1 title_t-1--position2 text-center">Produits</h3>
    <p class="sub-title_t-5 title_t-1--position3 text-center">Personnaliser votre liste de produit a commander.</p>
	</div>
  <div class="PRODUCTS ls section_padding_bottom_20">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="home-shop-feed">
            <ul id="products" class="products list-unstyled grid-view shop-feed-t2">
              {{#if packsReady}}
                {{#each products}}
                  {{> product}}
                {{/each}}
              {{else}}
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
