<template name="landingPage">
  	<!--[if lt IE 9]>
        <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->

  	<!-- Search modal -->
  	<div class="modal" tabindex="-1" aria-labelledby="search_modal" id="search_modal">
  		<div class="header-search">
  			<form method="get" class="searchform form-inline" action="/">
  				<div class="form-group">
  					<input type="text" value="" name="search" class="form-control search-input" placeholder="Search keyword" id="modal-search-input">
  				</div>
  				<button type="submit" class="s_theme_button">Search</button>
  			</form>
  		</div>
  	</div>
  	<div id="canvas">
  		<div id="box_wrapper">

  			<!-- Breadcrumbs -->
  			<div class="page_breadcrumbs section_padding_85 breadcrumbs-01 parallax">
  				<div class="container">
  					<div class="row">
  						<div class="col-lg-12">
  							<h6 class="breadcrumbs__title text-center">
                  <!-- <img style="max-width:400px;" src="/images/yuudi-logo.png" alt="yuudi" /> <br> -->
                  Les meilleurs fruits du marché, livrés chez vous.</h6> <br>
                  <form id="step1-form" class="shop-checkout text-center">
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-8 col-md-8 col-lg-8">

                      <!--  Nom et prenom -->
                      <div class="form-group validate-required" id="email_landing_field">
          							<label for="email_landing" class="control-label">
          								<!-- <span class="grey">Soyez informé par mail </span> -->
          								<!-- <span class="required">*</span> -->
          							</label>
          								<input type="email" class="form-control " name="email_landing" id="email_landing" placeholder="votre-email@gmail.com" required="">
          						</div>

                      <button type="submit" class="button-g_t6">Soyez informé</button>
                    </div>
        					</form>
  						</div>
  					</div>
  				</div>
  			</div>

  			<!-- 404 -->
  			<div class="ls section_padding_top_70 section_padding_bottom_110">
  				<div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                <div class="widget widget_search">
                  <img style="max-width:260px;" src="/images/yuudi-logo.png" alt="yuudi" />
                  <p class="text-center">Yuudi.com, votre source en-ligne des meilleurs fruits.</p>
                </div>
              </div>
            </div>
  				</div>
  			</div>

  		</div>
  	</div>
</template>
