<template name="mainLayout">
  <div class="preloader">
    <div class="thecube">
      <div class="cube c1"></div>
      <div class="cube c2"></div>
      <div class="cube c4"></div>
      <div class="cube c3"></div>
    </div>
  </div>

  {{> Template.dynamic template=top}}
  {{> Template.dynamic template=main}}
  {{> Template.dynamic template=footer}}

  <div class="cartPopUp">
    <div class="cart">
      <span class="shopping-cart__info">{{itemsCount}}</span>
      <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    </div>
  </div>
</template>
