<template name="checkout">
  <div class="ls section_padding_top_30 section_padding_bottom_75 columns_padding_25">
    <!-- Steps -->
    <div id="crumbs">
    	<ul>
    		<li id="step1"><a class="inStep" href="#2"><i class="fa fa-shopping-bag" aria-hidden="true"></i>  Adresse</a></li>
    		<li id="step2"><a class="" href="#3"><i class="fa fa-cart-plus" aria-hidden="true"></i>  Résumé</a></li>
    		<li id="step3"><a class="" href="#4"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>  Validation</a></li>
    	</ul>
    </div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<!-- <h2 class="shop-checkout__title">Adresse de facturation</h2> -->
					<form class="shop-checkout">
            <div class="col-md-2 col-lg-3"></div>
            <div class="col-sm-12 col-md-8 col-lg-6">

              <!--  Nom et prenom -->
              <div class="form-group validate-required" id="billing_first_name_field">
  							<label for="billing_first_name" class="control-label">
  								<span class="grey">Nom complet </span>
  								<span class="required">*</span>
  							</label>
  								<input type="text" class="form-control " name="billing_full_name" id="billing_full_name" placeholder="" value="">
  						</div>

              <!-- Ville -->
  						<div class="form-group">
  							<label for="billing_country" class="control-label">
  								<span class="grey">Ville </span>
  								<span class="required">*</span>
  							</label>
  								<select class="form-control" name="billing_city" id="billing_city">
  									<option value="casablanca" selected="selected">Casablanca</option>
  								</select>
  						</div>

  						<!-- <div class="form-group" id="billing_company_field">
  							<label for="billing_company" class="control-label">
  								<span class="grey">Company Name</span>
  							</label>
  								<input type="text" class="form-control " name="billing_company" id="billing_company" placeholder="" value="">
  						</div> -->
  						<div class="form-group address-field validate-required" id="billing_address_fields">
  							<label for="billing_address_1" class="control-label">
  								<span class="grey">Adresse </span>
  								<span class="required">*</span>
  							</label>
  								<input type="text" class="form-control " name="billing_address_1" id="billing_address_1" placeholder="Où voulez-vous que votre commande soit livrée?" value="">
  						</div>

  						<!-- Phone -->
  						<div class="form-group validate-required validate-phone" id="billing_phone_field">
  							<label for="billing_phone" class="control-label">
  								<span class="grey">Téléphone </span>
  								<span class="required">*</span>
  							</label>
  								<input type="phone" class="form-control " name="billing_phone" id="billing_phone" placeholder="0622 01 02 03" value="06" required="">
  						</div>

  						<div class="form-group">
  							<label for="order_comments" class="control-label">
  								<span class="grey">Remarques</span>
  							</label>
  								<textarea name="order_comments" class="form-control" id="order_comments" placeholder="Remarques concernant votre commande, par exemple notes spéciales pour la livraison." rows="5"></textarea>
  						</div>
            </div>
					</form>
				</div>
				<!--eof .col-sm-8 (main content)-->

			</div>
		</div>
	</div>
</template>
